body{
    background-color: black;
    height: 100vh;
    width: 100vw;
}
.main-container{
    height: auto;
    display: inline-block;
    width: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px;

}
.id{
    color: red;
}